# Gradle files
.gradle/
build/
gradle.properties

# Gradle wrapper
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Eclipse files
.classpath
.project
.settings/

# NetBeans files
nbproject/
nb-configuration.xml

# Temporary files
*.log
*.tmp
*.bak
*.swp
*~.nib

# OS-specific files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Fleet
.fleet/

# Program
flukes
